body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}


.header,
.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
}

.header {
    padding: 15px 100px 100px 100px;
}

.footer {
    padding: 36px 0;
    text-align: center;
}

.header .top-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    border-style: none;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 35px;
    margin-top: 10px;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
    text-decoration: none;
}

.header-body {
    display: flex;
    gap: 50px;
}

.header-body .left-pane {
    flex: 1 1 50%;
}

.header-body .right-pane {
    display: flex;
    flex: 1 1 50%;
    background-color: #595864;
    justify-content: center;
    align-items: center;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.header .title-text {
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8;
}

.header li a {
    text-decoration: none;
    color: #E5E7EB;
}

.info-box {

}

.quote-box {
    background-color: #E5E7EB;
    padding: 100px 150px 75px 150px;
}

.quote-box .quote {
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
}

.quote-box .attribution {
    font-weight: 700;
    font-size: 18px;
    text-align: end;
}

.signup-box {
    display: flex;
    background-color: #3882F6;
    color:#E5E7EB;
    font-size: 18px;
    margin: 50px 100px;
    border-radius: 10px;
    padding: 25px 50px;
}

.signup-box .text-top {
    font-weight: 700;
    font-size: 24px;
}

.signup-box button {
    border-style: solid;
    border-color: #E5E7EB;
}