body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;

}

.header a {
    text-decoration: none;
}

.header ul {
    list-style-type: none;
}

.info-box {

}

.quote-box {
    background-color: #E5E7EB;
}

.signup-box {

}

.footer {

}